@import "tailwindcss";

.text-gradient {
  background: linear-gradient(to bottom, #60a5fa, #1d4ed8); /* blue-400 vers blue-700 */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}