@import "tailwindcss";

.text-gradient-fix {
  background-image: linear-gradient(to bottom, #60a5fa, #1d4ed8) !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  color: transparent !important;
  -webkit-text-fill-color: transparent !important;
  display: inline-block;
}

@keyframes bounce-in {
  0% { transform: translateY(100px); opacity: 0; }
  60% { transform: translateY(-10px); }
  100% { transform: translateY(0); opacity: 1; }
}
.animate-bounce-in {
  animation: bounce-in 0.5s ease-out forwards;
}